@charset "UTF-8";
/* Variáveis de cor */
/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* | Papel             | Fonte | Sensação                       |
| ----------------- | ----- | ------------------------------ |
| **Títulos**       | Unna  | Tradicional, rústico, elegante |
| **Textos longos** | Karla | Limpo, acolhedor, moderno      | */
body {
  font-family: "Karla", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Unna", serif;
  font-weight: 700;
  line-height: 1.2;
}

:root {
  --marrom-escuro: #3b2f2f;
  --marrom-medio: #7a5c41;
  --creme: #fdf5e6;
  --vermelho-rustico: #b33a3a;
  --vermelho-claro: #e45a3d;
  --preto: #1c1c1c;
  --branco: #fff;
}

:root {
  --creme: #fdf5e6;
  --marrom-escuro: #3b2f2f;
  --marrom-medio: #7a5c41;
  --vermelho-rustico: #b33a3a;
  --vermelho-claro: #e45a3d;
  --preto: #1c1c1c;
  --branco: #fff;
  --cinza: #8a857b;
  /* fundo */
  --corFundo: var(--creme);
  --corFundoSecao: var(--marrom-medio);
  --corFundoDestaque: var(--marrom-escuro);
  --corFundoDestaqueHover: var(--marrom-escuro);
  --corFundoSecundario: var(--cinza); /* neutro */
  --corFundoBotao: var(--vermelho-claro);
  --corFundoBotaoHover: var(--vermelho-rustico);
  /* texto */
  --corTexto: var(--preto);
  --corTextoNeutro: var(--cinza);
  --corTextoHover: var(--corFundoDestaque);
  --corTextoSecao: var(--creme);
  --corTextoDestaque: var(--branco);
  --corTextoSecundario: var(--preto);
  --corTextoBotao: var(--creme);
  --corTextoBotaoHover: var(--branco);
  --corAzeitona: #36c929;
  --Fonte-destaque: Bebas Neue, sans-serif;
  --Fonte-titulo: Raleway, sans-serif;
  --Fonte-corpo: Mulish, sans-serif;
}

.header {
  background-color: var(--corFundoDestaque);
  color: var(--corTextoDestaque);
  padding: 0.4rem 1rem;
  position: sticky;
  height: 55px;
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  animation: varCor 8s ease-out 1s infinite alternate;
  transition: 1s ease;
}

.header.scrolled {
  height: 40px;
  animation: none;
}

.header.scrolled #btnMenu {
  max-width: 70px !important;
}

.header.scrolled .logo {
  max-width: 70px !important;
  animation: none;
}

@keyframes varCor {
  25% {
    background-color: var(--marrom-escuro);
  }
  50% {
    background-color: var(--marrom-medio);
  }
  75% {
    background-color: var(--vermelho-rustico);
  }
  100% {
    background-color: var(--preto);
  }
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--corFundo);
  color: var(--corTexto);
  transition: background-color 0.5s ease;
  line-height: 1.6;
  min-height: 100vh;
}

.secao {
  padding: 2rem 1rem;
  text-align: center;
  background-color: var(--corFundoSecao);
  color: var(--corTextoSecao);
}

/* Responsivo para telas maiores */
@media (min-width: 768px) {
  .secao {
    padding: 4rem 2rem;
  }
}
.icone-configuracoes {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1000;
}
.icone-configuracoes svg {
  fill: var(--corTexto);
  transition: fill 0.3s ease;
}

.icone-configuracoes:hover svg {
  fill: #888;
}

/* Estilos do Modal (popup) */
.modal-bg {
  display: none; /* Inicialmente escondido */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.modal-conteudo {
  background-color: var(--corFundoDestaque);
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: var(--sombraModal);
  width: 90%;
  max-width: 400px;
  position: relative;
}

.modal-conteudo h2 {
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  margin-top: 0;
}

.btn-fechar {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.btn-fechar:hover,
.btn-fechar:focus {
  color: #333;
}

.lista-opcoes {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.lista-opcoes li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.lista-opcoes li:last-child {
  border-bottom: none;
}

.lista-opcoes button {
  padding: 8px 15px;
  cursor: pointer;
  background-color: #2e8b57;
  color: white;
  border: none;
  border-radius: 4px;
}

.lista-opcoes button:hover {
  background-color: #3cb371;
}

footer {
  background-color: var(--cor-principal);
  color: #1c1c1c;
  text-align: center;
  padding: 2rem 1rem;
  margin-top: 3rem;
  font-size: 0.875rem;
}

.banner {
  /* min-height: 100vh; */
  position: relative;
  background-color: var(--corFundo);
  overflow: visible;
  width: 100%;
  background-color: var(--corFundoDestaque);
}

main {
  width: 100%;
}

.menu-lateral {
  position: fixed;
  top: 0;
  right: -100%;
  width: 75%;
  max-width: 300px;
  height: 100vh;
  background-color: var(--corFundo);
  color: var(--corTexto);
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.3);
  transition: right 0.4s ease;
  padding: 2rem 1.5rem;
  z-index: 20;
  border-left: 8px solid var(--corFundo);
  background-color: rgb(140.4810126582, 45.5189873418, 45.5189873418);
}
.menu-lateral button {
  background: none;
  border: none;
  font-size: 3rem;
  padding: 5px;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  color: var(--corFundo);
  z-index: 40;
}
.menu-lateral button:hover {
  color: var(--corFundoDestaqueHover);
  /* color: #000; */
}
.menu-lateral ul {
  list-style: none;
  padding: 0;
}
.menu-lateral ul li {
  margin: 1.5rem 0;
  background-color: var(--corFundoBotao);
  padding: 5px 8px;
  border-radius: 5px 20px 20px 5px;
  transition: background-color 0.3s ease-out;
}
.menu-lateral ul li:hover {
  background-color: var(--corFundoDestaqueHover);
}
.menu-lateral ul li a {
  text-decoration: none;
  color: var(--corTextoDestaque);
  font-size: 1.3rem;
  font-weight: bolder;
  display: block;
  text-shadow: 2px 1px 8px var(--corFundoBotao);
  text-decoration: underline;
}
.menu-lateral ul li a:hover {
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(31, 31, 31, 0.5);
  opacity: 1;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 12;
}

.menu-lateral.ativo {
  right: 0;
}

.overlay.ativo {
  opacity: 1;
  visibility: visible;
}

#btnMenu {
  /* position: absolute;
  top: -28px;
  right: -10px; */
  max-width: 90px;
  background: none;
  color: var(--branco);
  border: none;
  cursor: pointer;
  /* transform: translateY(15vh); */
  transform-origin: top right;
  z-index: 25;
  transition: rotate 0.5s, max-width 0.8s;
}

@keyframes subir {
  0% {
    transform: translateY(5vh);
  }
  100% {
    transform: translateY(0vh);
  }
}
@media (min-width: 768px) {
  #btnMenu {
    display: none;
  }
}
#btnMenu:hover {
  rotate: -5deg;
  animation: mecher 1s ease-out infinite alternate forwards;
}

@keyframes mecher {
  0% {
    transform: rotate(-5deg) translateY(0vh);
  }
  100% {
    transform: rotate(5deg) translateY(1vh);
  }
}
/* .logo {
  font-weight: bold;
  font-size: 1.2rem;
} */
/* SCSS para estilizar o logo */
.logo {
  max-width: 100%;
  height: auto;
  width: 80px; /* Largura para a versão mobile */
  background-color: var(--corFundoDestaque);
  padding: 0px 7px 7px 7px;
  border-radius: 8px;
  animation: varCor 8s ease-out 1s infinite alternate;
  box-sizing: border-box;
  transition: 0.8s;
}

@media (min-width: 768px) {
  .logo {
    width: 180px; /* Largura para a versão tablet */
  }
}
@media (min-width: 1024px) {
  .logo {
    width: 250px; /* Largura para a versão desktop */
  }
}
/* Para Desktop (versão horizontal)

Tamanho ideal: 250px a 400px de largura por 70px a 100px de altura. 
Proporção: 4:1 (por exemplo, 400px de largura por 100px de altura).
*/
/* Tamanho ideal para Tablet: 

Proporção para Tablet: 2:1 ou 3:1.
120px a 180px de largura por 60px a 80px de altura. */
/* Para Mobile (versão vertical ou quadrada)

Proporção para Mobile: 1:1 (quadrado).
Tamanho ideal: 100px a 160px (em ambos os lados, para um formato quadrado).

Melhor formato: SVG ou PNG com fundo transparente. */
/* Favicon
Tamanho ideal: 16px x 16px ou 32px x 32px.

Proporção: 1:1 (quadrado).

Melhor formato: ICO ou PNG.

O favicon é aquele ícone pequenininho que aparece na aba do navegador. É uma versão simplificada do seu logo e é essencial para o reconhecimento da marca. */
/* Além dos tamanhos, o peso do arquivo é fundamental para a velocidade de carregamento do site. Mantenha os arquivos do seu logo com menos de 200 KB. Sites lentos fazem o cliente desistir e, no seu ramo, a agilidade na hora de fazer o pedido é tudo! */
.nome-empresa {
  border-style: dotted;
  display: none;
}

.logo-e-nome {
  display: flex;
  gap: 12px;
}

/* Estilos para o header que engloba tudo */
/* Estilos para a barra de redes sociais que rola para fora da tela */
.social-media-bar {
  background-color: var(--corFundoBotao);
  padding: 0px 10px 2px 0px;
  width: 100%;
  text-align: right;
  z-index: 5;
  height: fit-content;
  height: 27px;
  overflow: visible;
  transition: opacity 0.3s ease-in-out;
  z-index: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-media-bar ul {
  list-style-type: none;
  display: flex;
  position: relative;
  gap: 30px;
}
.social-media-bar ul li {
  width: 20px;
  height: 20px;
  background-color: var(--cor1);
  color: #fff;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.3333333333);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.2s;
}
.social-media-bar ul li:hover {
  width: 75px;
  max-width: 70px;
}
.social-media-bar ul li span {
  position: absolute;
}
.social-media-bar ul li .icon {
  color: #fff;
  font-size: 0.8em;
  transition: 0.2s;
  display: flex;
  align-items: top;
  justify-content: center;
}
.social-media-bar ul li .text {
  color: #fff;
  font-size: 10px;
  transform: scale(0);
  transition: 0.2s;
  transition-delay: 0.1s;
}
.social-media-bar ul li:hover .text {
  transform: scale(1);
}
.social-media-bar ul li:hover .icon {
  transform: scale(0);
}
.social-media-bar ul li::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(45deg, var(--cor1), var(--cor2));
  /*  background-color: var(--cor1); */
  inset: 0;
  opacity: 0;
  border-radius: 6px;
}
.social-media-bar ul li:hover::before {
  opacity: 1;
}

.categorias-cardapio {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 1rem;
}

.categorias-cardapio button {
  background-color: var(--marrom-medio);
  color: var(--branco);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.categorias-cardapio button:hover {
  background-color: var(--vermelho-rustico);
}

@media (min-width: 768px) {
  .categorias-cardapio {
    justify-content: center;
  }
}
.itens-cardapio {
  margin-top: 1.5rem;
  display: grid;
  gap: 1rem;
}

@media (min-width: 1024px) {
  .itens-cardapio {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 768px) {
  .itens-cardapio {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Estilos de Cada Slide */
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* Começa todos os slides transparentes */
  transition: opacity 1s ease-in-out; /* Adiciona uma transição suave de opacidade */
  z-index: 1; /* Garante que os slides fiquem abaixo dos botões de navegação */
  display: flex;
  align-items: top; /* Centraliza o conteúdo verticalmente */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  text-align: center;
  /* transform: translateX(-16%); */
  /* margin: auto; */
  background-color: var(--corFundoDestaque);
}
.slide .img.peca {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(141, 33, 33);
  background-image: url("../img/otimizada/medio/destaque-peca.webp");
  background-size: cover;
  background-position: 80% 80%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  z-index: 1;
  filter: contrast(1.02) saturate(1.04) brightness(88%);
}
.slide .img.cardapio {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(141, 33, 33);
  background-image: url("../img/otimizada/medio/destaque-cardapio.webp");
  background-size: cover;
  background-position: 80% 80%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  z-index: 1;
  filter: contrast(1.02) saturate(1.04) brightness(88%);
}
.slide .img.conheca {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(141, 33, 33);
  background-image: url("../img/otimizada/medio/destaque-conheca.webp");
  background-size: cover;
  background-position: 80% 80%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  z-index: 1;
  filter: contrast(1.02) saturate(1.04) brightness(88%);
}
.slide .img::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(179, 58, 58, 0.1);
  z-index: 2;
}

.slide.active {
  opacity: 1; /* O slide com a classe 'active' fica visível */
  z-index: 2; /* Fica por cima dos outros slides */
  /* transform: translateX(-16%); */
}

/*  */
/* Tablet (a partir de 768px) */
@media (min-width: 768px) {
  /* estilos para tablets */
}
/* Desktop (a partir de 1024px) */
@media (min-width: 1024px) {
  /* estilos para desktops e telas maiores */
}
/* Estilos dos Indicadores (Pontos) */
.dots-container {
  position: absolute;
  bottom: 14px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #fff;
}

/* Estilos do Conteúdo do Slide (Título, Texto, Botão) */
.slide-content {
  position: relative;
  z-index: 3; /* Garante que o conteúdo fique por cima da imagem */
  color: #fff;
  padding: 0px;
  border-radius: 8px;
  z-index: 5;
  width: 100%;
}

.slide-content h1 {
  font-size: 2rem;
  text-shadow: 1px 1px 1px black;
  padding: 8px 8px 0px 8px;
  background-color: rgba(59, 47, 47, 0.1);
  z-index: 5;
  width: 100%;
}

.slide-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px black;
  padding: 12px 8px;
  background-color: rgba(59, 47, 47, 0.1);
  width: 100%;
}

.slide-content .btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #ff6347; /* Cor de exemplo (laranja avermelhado) */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  text-shadow: 1px 1px 1px black;
}

.slide-content .btn:hover {
  background-color: #e5533d;
}

/* Estilos Gerais do Slider */
.slider-container {
  position: relative; /* Essencial para posicionar os slides, botões e pontos */
  width: 100%;
  max-width: 950px;
  height: 60vw;
  min-height: 320px;
  /* Ajuste a altura conforme sua preferência, ou remova se for usar apenas a altura da imagem */
  overflow: hidden; /* Garante que os slides que não estão visíveis fiquem escondidos */
  border-radius: 5px;
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: center;
  z-index: 0;
  margin: auto;
}

/* Estilos dos Botões de Navegação (Setas) */
.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 15px;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.nav-btn.prev {
  left: 20px;
  border-radius: 5px 0 0 5px;
}

.nav-btn.next {
  right: 20px;
  border-radius: 0 5px 5px 0;
}

@media (max-width: 412px) {
  .nav-btn {
    padding: 0.85px;
    font-size: 1rem !important;
    top: 88%;
  }
}
@media (max-width: 768px) {
  .nav-btn {
    padding: 10px;
    font-size: 1.6rem;
  }
}
div.video {
  /* Define a posição para o iframe ficar por cima */
  position: relative;
  /* Define a proporção 16:9. A altura é 56.25% da largura. */
  padding-top: 56.25%;
  /* A altura é 0, o que força o padding a definir o tamanho. */
  height: 0;
  /* Garante que o contêiner não saia da tela. */
  overflow: hidden;
}

div.video iframe {
  /* Faz o iframe preencher 100% do espaço do contêiner. */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay-iframe1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 5;
  width: 100%;
  height: 100%;
}

.btn-whatsapp {
  display: inline-block;
  background-color: var(--vermelho-rustico);
  color: var(--branco);
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  margin-top: 1rem;
  text-decoration: none;
  transition: background 0.3s;
}

.btn-whatsapp:hover {
  background-color: var(--vermelho-claro);
}

.lista-promocoes {
  margin-top: 1.5rem;
  display: grid;
  gap: 1rem;
}

@media (min-width: 1024px) {
  .lista-promocoes {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 768px) {
  .lista-promocoes {
    grid-template-columns: repeat(2, 1fr);
  }
}
.contatos li a {
  display: inline-block;
  margin: 0.5rem;
  color: var(--vermelho-rustico);
  text-decoration: none;
  font-weight: bold;
}

img {
  max-width: 100%;
  display: block;
}

/*# sourceMappingURL=main.css.map */
